[submodule "Temperature-Forecasting"]
	path = Temperature-Forecasting
	url = https://github.com/dnaby/Temperature-Forecasting.git
[submodule "Weathear-App/weather-app"]
	path = Weathear-App/weather-app
	url = https://github.com/SalyDgn/weather-app.git
[submodule "weather-app/weather-app"]
	path = weather-app/weather-app
	url = https://github.com/SalyDgn/weather-app.git
