[submodule "Temperature-Forecasting"]
	path = Temperature-Forecasting
	url = https://github.com/dnaby/Temperature-Forecasting.git
[submodule "weathear-app/weather-app"]
	path = weathear-app/weather-app
	url = https://github.com/SalyDgn/weather-app.git
